<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>org.example.lmsdemo.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/BookServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>org.example.lmsdemo.AddBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/AddBookServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BorrowBookServlet</servlet-name>
        <servlet-class>org.example.lmsdemo.BorrowBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BorrowBookServlet</servlet-name>
        <url-pattern>/BorrowBookServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReturnBookServlet</servlet-name>
        <servlet-class>org.example.lmsdemo.ReturnBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReturnBookServlet</servlet-name>
        <url-pattern>/ReturnBookServlet</url-pattern>
    </servlet-mapping>

</web-app>

